In [8]:
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/crleal/.local/lib/python3.11/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import mysql.connector

In [21]:
con = mysql.connector.connect(
            user='root', password='root', port="3306", host = 'localhost', database='db')

In [22]:
cursor = con.cursor()
cursor.execute('Select * FROM cadastro')
cadastro1 = cursor.fetchall()

In [23]:
cadastro1

[(1,
  'female',
  'miss',
  'maud',
  'aulie',
  'ikornnes',
  'trndelag',
  'norway',
  'maudaulieexamplecom',
  datetime.date(1964, 2, 2),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (2,
  'male',
  'monsieur',
  'carlo',
  'lefevre',
  'agno',
  'st gallen',
  'switzerland',
  'carlolefevreexamplecom',
  datetime.date(1990, 1, 29),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (3,
  'male',
  'mr',
  '',
  '',
  '',
  '',
  'iran',
  'mhmdaalyrdyynexamplecom',
  datetime.date(1948, 5, 9),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (4,
  'male',
  'mr',
  'gerald',
  'fletcher',
  'santa ana',
  'kansas',
  'united states',
  'geraldfletcherexamplecom',
  datetime.date(1978, 6, 28),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (5,
  'female',
  'miss',
  'nyah',
  'gielis',
  'kwadendamme',
  'gelderland',
  'netherlands',
  'nyahgielisexamplecom',
  datetime.date(1982, 8, 14),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (6,
  'male',
  'mr',
  'danyel',
  'bramer',
  'noordhorn',
  'zuidholland',
  'netherlands',
  'danyelbramerexamplecom',
  datetime.date(1997, 7, 5),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (7,
  'male',
  'mr',
  'akseli',
  'nevala',
  'sulkava',
  'kymenlaakso',
  'finland',
  'akselinevalaexamplecom',
  datetime.date(1969, 1, 7),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (8,
  'female',
  'mrs',
  'roberta',
  'gardner',
  'orange',
  'new south wales',
  'australia',
  'robertagardnerexamplecom',
  datetime.date(1986, 8, 7),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (9,
  'male',
  'mr',
  'ruben',
  'jackson',
  'port macquarie',
  'tasmania',
  'australia',
  'rubenjacksonexamplecom',
  datetime.date(1945, 4, 17),
  datetime.datetime(2024, 4, 26, 23, 17, 53)),
 (10,
  'female',
  'mrs',
  'fayina',
  'oleshko',
  'voznesenivka',
  'mikolayivska',
  'ukraine',
  'fayinaoleshkoexamplecom',
  datetime.date(1996, 12, 1),
  datetime.datetime(2024, 4, 26, 23, 17, 53))]